<!doctype html>
<html lang="en">
{{> Layout.Head}}

<body class="bg-gray-100 flex flex-col min-h-screen">

    {{> Layout.Navbar}}
    {{> Layout.Loader}}

    {{{ body}}}


    {{> Layout.Footer}}



{{> Layout.Js}}
</body>

</html>
